:root {
  --main-color: #c2c8cf;
  --secondary-color: wheat;
  --third-color: #c19579;
  --warning-color: #e6b417;

  --dark-main-color: #171b2c;
  --dark-main-color-washed: #5f4a2c;
  --dark-secondary-color: #013475;
  --dark-third-color: #74e6ed;
  --dark-warning-color: #5977ad;
}

body {
  background: linear-gradient(40deg, var(--main-color), lighten(#f6f5f3, 82%));
  margin: 0;
  padding-top: 100px;
  font-family: 'Questrial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-main-color);

  @media screen and (prefers-color-scheme: dark) {
    background: linear-gradient(
      40deg,
      var(--dark-main-color),
      darken(#023475, 2%)
    );
    color: var(--main-color);
  }
}

.logo {
  width: 120px;
  tspan {
    fill: var(--dark-main-color);
  }
  @media screen and (prefers-color-scheme: dark) {
    tspan {
      fill: var(--main-color);
    }
  }
}

img {
  width: 100%;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.1),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  border: 15px solid white;
  box-sizing: border-box;
  cursor: pointer;
}

.img-fl {
  width: 100% !important;
  margin-left: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Questrial', sans-serif !important;
  font-weight: 400 !important; 
  line-height: 1.2;
  font-size: 1.3rem !important;
  @media screen and (min-width: 600px) {
    font-size: 1.3rem !important;
    line-height: 1.5 !important;
    margin-bottom: 10px !important;
  }
}
h1 {
  font-size: 1.1rem !important;
  @media screen and (min-width: 600px) {
    font-size: 1.8rem !important;
    // margin-bottom: 10px !important;
    letter-spacing: 2px;
  }
}
h2 {
  margin-bottom: 5px !important;
  text-transform: uppercase;
  font-size: 1.1rem !important;
  @media screen and (min-width: 600px) {
    font-size: 1.45rem !important;
    margin-bottom: 10px !important;
  }
}
h3 {
  font-size: 1.2rem !important;
  margin-bottom: 0px !important;
  font-weight: 600 !important;
  opacity: 0.95;
  color: var(--warning-color) ;
}
h4 {
  text-transform: uppercase;
  font-size: 1.1rem !important;
  line-height: 1.25 !important;
  @media screen and (min-width: 600px) {
    font-size: 1.35rem !important;
    margin-bottom: 10px !important;
  }
}

button {
  font-weight: 600 !important;
  font-size: 1.15rem !important;
  line-height: 1.1 !important;
  
}

.Mui {
  &Dialog {
    &Actions-root {
      padding: 15px !important;
    }
    &Title-root {
      padding: 16px 24px 0 !important;
    }
    &ContentText-root {
      margin-bottom: 0 !important;
      margin-top: 20px !important;
    }
  }
  &CardContent-root {
    padding-bottom: 0 !important;
  }
  &InputBase-input{
    padding: 10px !important;
  }
}
